/* components/Store/store.css */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.storeContainer {
    padding: 20px 7%;
    margin-top: 55px; 
    text-align: center;
    background: linear-gradient(to top,#00000000,  #000000e7); 
    color: var(--text-color);
}

.cartIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    z-index: 1000;
    color: white; /* Cambio de color del icono a blanco */
}

.storeContainer h1{
    margin-bottom: 55px;
    margin-top: 140px;
    color: #ccc;
}

.cartIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    z-index: 1000;
}

.productsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.productCard {    
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px; /* Ajusta el padding según tus necesidades */
    width: 25%; /* Ocupa todo el ancho disponible */
    text-align: center;
    background-color: var(--card-background);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.productCard img {
    max-width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y cubriendo el contenedor */
    border-radius: 8px;
}

.productCard h2 {
    font-size: 2em;
    margin: 10px 0;
    color:rgb(0, 0, 0)
}

.productCard p {
    font-size: 1.5em;
    color: #555555;
}

.productCard .price {
    font-size: 2em; /* Tamaño de fuente base */
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

.productCard button {
    padding: 15px 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #2c8840;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
}

.productCard button:hover {
    background-color: #41a556d3;
}


.cartContainer h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.cartContainer {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
}
.cartContainer p {
    margin-bottom: 15px;
}
.cartContainer h3 {
    text-align: right;
    margin-top: 20px;
    color: var(--text-color);
}

.cartItem {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    
}

.cartItem img {
    max-width: 50px;
    border-radius: 8px;
}

.cartItem h3 {
    margin: 0;
    color: #41B06E;
    margin-top: 10px;
}

.cartItem .quantityControl {
    display: flex;
    align-items: center;
}

.cartItem .quantityControl button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #41B06E;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cartItem .quantityControl button:hover {
    background-color: #005207;
}

.cartItem .quantityControl input {
    width: 50px;
    padding: 5px;
    margin: 0 10px;
    margin-top: -20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.cartItem button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #68161f;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cartItem button:hover {
    background-color: #c82333;
}



:root {
    --dark-red: #8b0000c8;
    --light-background: #f9f9f9;
    --card-background: #ffffff;
    --text-color: #000000;
}

.finalizePurchaseButton {
    background-color: #41B06E; 
    color: white; 
    border: none; 
    padding: 8px 20px; 
    font-size: 13px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.finalizePurchaseButton:hover {
    background-color: #8DECB4; 
    color:#202020;
}

.finalizePurchaseButton:active {
    background-color: #41B06E; 
}

@media (max-width: 768px) {
    .storeContainer {
        padding: 20px 5%;
    }
    .productsGrid {
        justify-content: center;
    }
    .productCard {
        max-width: 100%;
    }
    .productCard .price {
        font-size: 1.5em; 
    }

    .productCard h2 {
        font-size: 1.5em; 
    }
}

@media (max-width: 576px) {
    .storeContainer {
        padding: 20px 3%;
    }
    .productCard {
        padding: 15px;
    }
    .productCard .price {
        font-size: 1.2em; 
    }
    .productCard h2 {
        font-size: 1.2em; 
    }
}

